@font-face {
    font-family: 'optiedgarboldextended';
    src: url("https://rawcdn.githack.com/mr94valerio/OptiEdgarBoldExtended/d8a677f1eb8a344bea1bbf1c08eee1d55d191def/OPTIEdgarBoldExtended.otf") format("opentype");
    font-weight: 100;
    font-style: normal;
} 
