@font-face {
    font-family: 'optiedgarboldextended';
    src: url("https://raw.githubusercontent.com/mr94valerio/OptiEdgarBoldExtended/OPTIEdgarBoldExtended.otf") format("opentype");
    font-weight: 100;
    font-style: normal;
} 
